.images-wrapper {
    background-color: black;
    width: 100%;
}

.individual-wrapper {
    width: 100%;
    background-color: pink;
    margin: 1rem;
    display: flex;
}

.image {
    max-height: 300px;
    margin: 1.5rem;
    overflow: hidden;
}